<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Rejestracja</title>
</head>
<body>
    <form action="/register" method="POST">
        <h1>Rejestracja</h1>

        <div>
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <a href="/login">Masz już konto? Zaloguj się!</a>

        <div>
            <button type="submit">Zarejestruj się</button>
        </div>
    </form>
</body>
</html>
